<%- include('../partials/header') %>

    <main style="height: 500px">
        <h1>ESTOU NA PÁGINA DE CADASTRO</h1>

    </main>


    <!-- importa o footer -->
    <%- include('../partials/footer') %>