<!-- Importa o heades -->
<%- include('../partials/header') %>

    <!-- MAIN : com o conteúdo da página -->
    <main>

        <h1> Estou na página Usuários / Editar </h1>

    </main>

<%- include('../partials/footer') %>