<footer class="footer-sistemas">
    <p>TODOS OS DIREITOS RESERVADOS A MINHA PESSOA</p>
</footer>

  <!-- IMPORTAÇÃO DO BOOTSTRAP JS PARA O DROPDOWN E OUTROS COMPONENTES INTERATIVOS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<!-- importacao do js -->
<script src="/js/script.js"></script>

</body>
</html>