<footer style="background-color: red; height: 100px; width: 100%; ">
    <p>TODOS OS DIREITOS RESERVADOS A MINHA PESSOA</p>
</footer>

<!-- importacao do js -->
<script src="/js/script.js"></script>

</body>
</html>