<!-- Vitrine page -->
<% -include ('../partials/header') %>

<!-- Main: com o conteudo da pagina-->
 <main>

    <h1>Estou na página Vitrine/index</h1>
 
</main>

<!-- importa o footer -->
<% -include ('../partials/footer') %>